.main {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            color: rgb(13, 202, 101);
            font-size: 3rem;
            margin-top: 2rem;
            text-align: center;
        }
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;
            width: 100%;
            input {
                padding: 0.5rem 1rem;
                width: 100%;
                max-width: 28rem;
                border-radius: 5px;
                outline: none;
                border: none;
                margin-right: .5rem;
                color: rgb(32, 32, 32);
                font-size: 1.6rem;
            }
            button {
                padding: .5rem 1rem;
                background-color: rgb(13, 202, 101);
                border-radius: 5px;
                outline: none;
                border: none;
                font-weight: 700;
                font-size: 1.6rem;
                cursor: pointer;
                transition: .3s ease;
                &:hover {
                    background-color: rgb(31, 218, 118);
                }
            }
        }
        .savedPlaylists {
            margin-top: 1rem;
            color: #FFF;
            font-weight: 700;
            padding: .5rem 1rem;
            background-color: rgb(13, 202, 101);
            border: none;
            border-radius: 5px;
            font-size: 1.6rem;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                background-color: rgb(31, 218, 118);
            }
        }
    }
}