.main {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;
            width: 100%;
            input {
                padding: 0.5rem 1rem;
                width: 100%;
                max-width: 28rem;
                border-radius: 5px;
                outline: none;
                border: none;
                margin-right: .5rem;
                color: rgb(32, 32, 32);
                font-size: 1.6rem;
            }
            button {
                padding: .5rem .8rem;
                background-color: rgb(13, 202, 101);
                border-radius: 5px;
                outline: none;
                border: none;
                font-size: 1.6rem;
                color: #FFF;
                cursor: pointer;
                transition: .3s ease;
                &:hover {
                    background-color: rgb(31, 218, 118);
                }
                img {
                    height: 15px;
                }
            }
        }
        .content {
            padding: 4rem 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            h1 {
                font-size: 2rem;
            }
        }
    }
    @media screen and (max-width: 880px) {
        .container {
            .content {
                flex-direction: column;
            }
        }
    } @media screen and (max-width: 480px) {
        .container {
            .content {
                padding-top: 3rem;
            }
        }
    }
    
}