.playlist {
    text-align: center;
    p {
        font-size: 1.8rem;
    }
    .list {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-height: 65vh;
        overflow-y: scroll;
        padding-right: 1rem;
        &::-webkit-scrollbar {
            width: 8px;
          }
        &::-webkit-scrollbar-track {
            background: rgba(70, 70, 70, 1);
            border-radius: 5px;
            
          }
          &::-webkit-scrollbar-thumb {
            background: rgb(13, 202, 101);
            border-radius: 5px;
          }
        
    }
    .save {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        button {
                padding: .5rem 1rem;
                background-color: rgb(13, 202, 101);
                border-radius: 5px;
                outline: none;
                border: none;
                font-weight: 700;
                font-size: 1.6rem;
                cursor: pointer;
                transition: .3s ease;
                &:hover {
                    background-color: rgb(31, 218, 118);
                }
        }
    }
    @media screen and (max-width: 880px) {
        margin-top: 4rem;
    }
    @media screen and (max-width: 450px) {
        .list {
            li {
                .item {
                    .info {
                        h4 {
                            max-width: 25rem;
                        }
                    }
                }
            }
        }
    }
}