@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import '../pages/Home/home';
@import '../components/Header/header';
@import '../components/CityInfo/cityInfo';
@import '../components/Playlist/playlist';
@import '../pages/Saved_playlists/saved_playlists';
@import '../components/Playlist_Item/playlist_item';

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FFF;
}
html, body {
    font-size: 62.5%;
    @media screen and (max-width: 8000px) {
        font-size: 54%;
    }
    @media screen and (max-width: 550px) {
        font-size: 50%;
    }
    &::-webkit-scrollbar {
        width: 8px;
      }
    &::-webkit-scrollbar-track {
        background: rgba(70, 70, 70, 1);
        border-radius: 5px;
        
      }
    &::-webkit-scrollbar-thumb {
        background: rgb(13, 202, 101);
        border-radius: 5px;
    }
}
body {
    background: rgb(42, 42, 42);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    
}


