.weather {
    text-align: center;
    .temperature {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 5rem;
        }
        img {
            margin-left: 3rem;
        }
    }
    p {
        margin-top: 4rem;
        font-size: 4rem;
    }
    span {
        display: inline-block;
        margin-top: 3rem;
        font-size: 2.2rem;
        text-transform: capitalize;
    }
    @media screen and (max-width: 880px) {
        p {
            margin-top: 2rem;
        }
    }
    @media screen and (max-width: 480px) {
        .temperature {
            h2 {
                font-size: 3.5rem;
            }
        }
        p {
            font-size: 3rem;
            margin-top: 0;
        }
        span {
            margin-top: 1.2rem;
        }
    }
}