.playlist_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(70, 69, 69, 0.925);
    padding: .5rem 1rem .5rem .5rem;
    border-radius: 3px;
    width: 100%;
    .item {
        width: 100%;
        display: flex;   
        .cover {
            img {
                height: 100%;
                width: 75px;
            }
        }             
        .info {
            margin-left: .8rem;
            text-align: left;
            width: 100%;
            max-width: 55rem;
            h4 {
                overflow: hidden;
                font-size: 1.4rem;
                text-overflow: ellipsis;  
                white-space: nowrap; 
                max-width: 35rem;  
            }
            p {
                font-size: 1.3rem;
                margin-top: .5rem;
            }
            audio {
                width: 100%;
                height: 3rem;
                margin-top: 2rem;
            }
        }
        
    }
    &:not(:first-child) {
        margin-top: 1rem;
    }
    svg {
        height: 15px;
        width: 15px;
        cursor: pointer;
        transition: transform .3s ease;
        &:hover {
          transform: scale(1.3);
        }   
    }
}